<% if current_user %>
<%= current_user.inspect %>
<p><%= link_to "サインアウト", destroy_user_session_path, method: :delete%></p>
<% else %>
ログインして下さい
<p><%= link_to "サインイン", new_user_session_path%></p>
<% end %>

<div id="calendar"></div>
<script>
$(document).ready(function() {
  var _onUpdate = function(available_time, revertFunc) {
    var url = "/available_times/" + available_time.id;
    var data = {
      _method: "PUT",
      available_time: {
        start_at_unix: available_time.start.unix(),
        end_at_unix: available_time.end.unix()
    }};
    $.ajax({
      type: "POST",
      url: url,
      data: data,
      success: function() {
        calendar.fullCalendar("refetchEvents");
      },
      error: revertFunc
    });
  };
  var _onSelect = function(start, end, allDay) {
    var data = {available_time: {start_at_unix: start.unix(), end_at_unix: end.unix()}};
    $.ajax({
      type: "POST",
      url: "/available_times",
      data: data,
      success: function() {
        calendar.fullCalendar('refetchEvents');
      }
    });
    calendar.fullCalendar('unselect');
  }
  var calendar = $("#calendar").fullCalendar({
    header: {
      left: "prev,next today",
      center: "title"
    },
    firstDay: 0,
    weekends: true,
    weekMode: "fixed",
    defaultView: "agendaWeek",
    allDaySlot: false,
    axisFormat: "H(:mm)",
    slotMinutes: 15,
    snapMinutes: 15,
    firstHour: 9,
    buttonText: {
      prev:     "<",
       next:     ">",
       prevYear: "<<",
       nextYear: ">>",
       today:    "今日",
       month:    "月",
       week:     "週",
       day:      "日"
    },
    monthNames: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
    monthNamesShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
    dayNames: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
    dayNamesShort: ["日", "月", "火", "水", "木", "金", "土"],
    events: "/available_times",
    selectable: true,
    selectHelper: true,
    ignoreTimezone: false,
    editable: true,
    select: _onSelect,
    eventClick: _onUpdate,
    eventResize: _onUpdate,
    eventDrop: _onUpdate
  });
});
</script>
